/* add custom styles */


.slider {
  height: 250px;
  background-color: #999;
  border: 1px solid #222;
}

.featured {
  text-align: center;
}

/* Class */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Usage as a mixin */
.element {
  .center-block();
}


/* Format input fields to add red border to checkout page */

input:invalid:focus {
    outline: none;
    border-color: rgba(171, 7, 7, .6);
    box-shadow: 0 0 5px rgba(171, 7, 7, .6);
}

/*Homepage hover */

.homepage-hover {
  height: 100%;
/*  padding-top: 155px;*/
  opacity: 0;
  background-color:rgba(0,0,0,0.2);
}

.background-image {
  height: 461px;
  width: 387px;
  margin: 0 auto;
}

.cartAdd {
  position: relative;
  bottom: 0;
}

.one {
  background-image: url('../shirtImg/radPeopleGray.png');
}

.two{
  background-image: url('../shirtImg/g19Blu.png');
}

.three {
  background-image: url('../shirtImg/radPeopleRed.png');
}