/* add custom styles */


.slider {
  height: 250px;
  background-color: #999;
  border: 1px solid #222;
}

.featured {
  text-align: center;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.homepage-hover {
  height: 100%;
  padding-top: 150px;
  opacity: 0;
}

.background-image-1 {
  background-image: url('https://placecage.com/200/200');
  height: 200px;
  width: 200px;
  border: 2px dotted #666;
  margin: 0 auto;
}


}